In the next notebook that:
    - clean the data contained in the CSV
    - set threshold for flow to be included in models
    - build models (using Lasso Regression, we believe)
    - set threshold for accuracy in predicting flow
    - throw out models that do not meet that accuracy
    - throw out features in models that are no longer needed
    - do other prep for putting models into production (test in real time and have accuracy feedback)

In [1]:
import pandas as pd
import os

In [2]:
import pickle
path="C:\Springboard\Github\gauge_info"
os.chdir(path)

In [3]:
# load the dataframe of targets and their corresponding features
dt = pickle.load(open("USGS_targets.pkl", "rb"))
dt

,USGS,lat,long,alt,basin,lng,feat_USGS,feat_NOAA
0,10140700,41.231819,111.984497,4285.00,Lower Weber,-111.984497,"[10126000, 10092700, 10010000, 10171000, 10105...","[BCNU1, BIUI1, GSPU1, JRSU1, PRZU1, LCJU1, LGN..."
1,10149000,40.118012,111.314622,6320.00,Spanish Fork,-111.314622,"[10164500, 10133800, 10133650, 10133600, 09313...","[AFPU1, ECAU1, ECPU1, MCLU1, PRHU1, PVHU1, SCJ..."
2,10155200,40.554398,111.433243,5691.59,Provo,-111.433243,"[10164500, 10131000, 10134500, 10132500, 10155...","[AFPU1, CIVU1, ECCU1, CRDU1, PVHU1, RBCU1, CLL..."
79,09064600,39.553875,106.402529,8078.37,Eagle,-106.402529,"[09057500, 09034250, 09034500, 09065100, 09063...","[BGMC2, CAWC2, HTSC2, CSSC2, RERC2, FRGC2, FPT..."
84,09081000,39.373317,107.083937,6470.00,Roaring Fork,-107.083937,"[09132095, 09070500, 09085100, 09081600, 09070...","[ACSC2, EGLC2, GCOC2, RCYC2, GPSC2, ENMC2, GEP..."
85,09073300,39.141100,106.774204,8120.00,Roaring Fork,-106.774204,"[09065100, 09112500, 09078600, 09080400, 09066...","[CSSC2, ALEC2, FPTC2, RUDC2, GRVC2, GUSC2, HUN..."
86,09075400,39.193833,106.833667,7882.00,Roaring Fork,-106.833667,"[09065100, 09112500, 09078600, 09080400, 09066...","[CSSC2, ALEC2, FPTC2, RUDC2, GRVC2, GUSC2, OHO..."
87,09033300,40.006892,105.848272,8274.00,Colorado Headwaters,-105.848272,"[09050700, 09010500, 09034250, 09019500, 09034...","[BLRC2, BAKC2, CAWC2, CBGC2, HTSC2, FRGC2, FRW..."
88,09359010,37.802774,107.672839,9245.98,Animas,-107.672839,"[09126000, 09118450, 09165000, 09074000, 09365...","[CMRC2, CRCC2, DRRC2, HUNC2, LPHC2, LFBC2, LFG..."
92,09358000,37.811108,107.659228,9290.00,Animas,-107.659228,"[09126000, 09118450, 09165000, 09074000, 09365...","[CMRC2, CRCC2, DRRC2, HUNC2, LPHC2, LFBC2, LFG..."
93,09359020,37.788333,107.668222,9199.00,Animas,-107.668222,"[09126000, 09118450, 09165000, 09074000, 09365...","[CMRC2, CRCC2, DRRC2, HUNC2, LPHC2, LFBC2, LFG..."
94,09359500,37.597417,107.776967,7682.00,Animas,-107.776967,"[09147000, 09166500, 09165000, 09365500, 09124...","[DCKC2, DOLC2, DRRC2, LPHC2, LFGC2, LCCC2, MNR..."
99,09146020,38.043327,107.683115,7600.00,Uncompahgre,-107.683115,"[09147000, 09114500, 09365500, 09124500, 09370...","[DCKC2, GUSC2, LPHC2, LFGC2, MNRC2, OHOC2, SMP..."
100,09112200,38.784160,106.870874,8440.00,East-Taylor,-106.870874,"[09118450, 09112500, 09078600, 09114500, 09074...","[CRCC2, ALEC2, FPTC2, GUSC2, HUNC2, OHOC2, APN..."
102,09037500,40.000200,106.180367,7808.95,Colorado Headwaters,-106.180367,"[09057500, 09034250, 09019500, 09034500, 09065...","[BGMC2, CAWC2, CBGC2, HTSC2, CSSC2, FRGC2, GRV..."
108,09413500,37.014424,113.680516,2401.58,Lower Virgin,-113.680516,"[09414900, 09408195, 09418700, 09413000, 09408...","[BEAA3, FPWU1, MVRN2, SRSU1, HUCU1, HURU1, VLL..."
113,09060799,39.891100,106.831694,6544.00,Colorado Headwaters,-106.831694,"[09070500, 09081600, 09070000, 09242500, 09246...","[EGLC2, RCYC2, GPSC2, ENMC2, ELHC2, FISC2, PSB..."
121,09421500,36.015258,114.738594,675.49,Havasu-Mohave Lakes,-114.738594,"[09423000, 09419696, 09419753, 09419700, 09419...","[CBDN2, DCKN2, KIDN2, LVPN2, SAHN2, MOAN2, MUD..."
122,385106106571000,38.851659,106.953377,8810.00,East-Taylor,-106.953377,"[09126000, 09118450, 09078600, 09064000, 09074...","[CMRC2, CRCC2, FPTC2, HMSC2, HUNC2, LFBC2, ALT..."
151,09076300,39.223200,106.857308,7575.00,Roaring Fork,-106.857308,"[09067020, 09112500, 09078600, 09080400, 09114...","[EALC2, ALEC2, FPTC2, RUDC2, GUSC2, OHOC2, PSB..."

How do I want to structure this? <br>
 - loop through the rows of the data structure
 - pull in the data from the corresponding CSV files
 - parse CSV so that that flow from target (y) is first column; flow from additional features is in other columns (x's)
 - save model (what is the best data structure for saving multiple models?)

In [4]:
# first, how do I parse these CSV files appropriately?!?!

In [5]:
# read the raw CSV back in and remove the commented lines
raw_file = '09010500.csv'
# open raw CSV
fi = open(raw_file, 'r')

# read raw CSV to clean CSV - eliminate comment rows with "#"
clean_file = 'clean_' + raw_file
with open(clean_file, 'w') as fo:
    lines = fi.readlines()
    for line in lines:
        if "#" not in line:
            fo.write(line)
fi.close()

In [6]:
# let's see if that loads as a dataframe now
df = pd.read_csv(clean_file, error_bad_lines=False, delimiter='\t')
df

      agency_cd   site_no    datetime 18363_00060_00003 18363_00060_00003_cd
0            5s       15s         20d               14n                  10s
1          USGS  09010500  1953-06-01               279                    A
2          USGS  09010500  1953-06-02               286                    A
3          USGS  09010500  1953-06-03               293                    A
4          USGS  09010500  1953-06-04               279                    A
...         ...       ...         ...               ...                  ...
24831      USGS  09010500  2021-05-25               226                    P
24832      USGS  09010500  2021-05-26               226                    P
24833      USGS  09010500  2021-05-27               236                    P
24834      USGS  09010500  2021-05-28               248                    P
24835      USGS  09010500  2021-05-29               242                    P

[24836 rows x 5 columns]

I think this looks great! We just need to drop the first row, the first column, the second column, and the last column.

In [7]:
# drop the first row
df.drop([0], inplace=True)

In [8]:
# drop the first and second columns
df.drop(columns=['agency_cd', 'site_no'], inplace=True)
df

         datetime 18363_00060_00003 18363_00060_00003_cd
1      1953-06-01               279                    A
2      1953-06-02               286                    A
3      1953-06-03               293                    A
4      1953-06-04               279                    A
5      1953-06-05               264                    A
...           ...               ...                  ...
24831  2021-05-25               226                    P
24832  2021-05-26               226                    P
24833  2021-05-27               236                    P
24834  2021-05-28               248                    P
24835  2021-05-29               242                    P

[24835 rows x 3 columns]

In [9]:
last_name = list(df.columns)
last_name[-1:][0]

'18363_00060_00003_cd'

In [10]:
df = df.iloc[:, :-1]
df

         datetime 18363_00060_00003
1      1953-06-01               279
2      1953-06-02               286
3      1953-06-03               293
4      1953-06-04               279
5      1953-06-05               264
...           ...               ...
24831  2021-05-25               226
24832  2021-05-26               226
24833  2021-05-27               236
24834  2021-05-28               248
24835  2021-05-29               242

[24835 rows x 2 columns]

In [11]:
df.columns[1]

'18363_00060_00003'

In [12]:
to_rename = df.columns[1]
df.rename(columns={to_rename: 'flow'})

         datetime flow
1      1953-06-01  279
2      1953-06-02  286
3      1953-06-03  293
4      1953-06-04  279
5      1953-06-05  264
...           ...  ...
24831  2021-05-25  226
24832  2021-05-26  226
24833  2021-05-27  236
24834  2021-05-28  248
24835  2021-05-29  242

[24835 rows x 2 columns]

That completes pulling in the data that we would need and cleaning it - for just one gage. Let's write that into a function so the result is a df that just contains datetime and cfs.

In [13]:
def load_csv(USGS):
    # read the raw CSV back in and remove the commented lines
    raw_file = USGS + '.csv'
    # open raw CSV
    try:
        fi = open(raw_file, 'r')
    except:
        return pd.DataFrame()

    # read raw CSV to clean CSV - eliminate comment rows with "#"
    clean_file = 'clean_' + raw_file
    with open(clean_file, 'w') as fo:
        lines = fi.readlines()
        for line in lines:
            if "#" not in line:
                fo.write(line)
    fi.close()
    # reloads that clean file
    df = pd.read_csv(clean_file, error_bad_lines=False, delimiter='\t')
    # drop the first row
    df.drop([0], inplace=True)
    # drop some other irrelevant columns
    df.drop(columns=['agency_cd', 'site_no'], inplace=True)
    # drop the last column
    df = df.iloc[:, :-1]
    # rename the remaining last column to the name of the USGS gage - better when appended
    to_rename = df.columns[1]
    df.rename(columns={to_rename: USGS}, inplace=True)
    
    # see if we can rename the column by number - use USGS as the name of the second column!!!!
    
    ##### consider replacing strings with other values here
    df.replace(to_replace=['Ice', 'Ssn', 'Bkw', 'A'], value=[0, 0, 0, 0], inplace=True)
    
    
    return df

Let's start to write the loop for the pulling that all into one dataframe

In [14]:
from sklearn import linear_model
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
import numpy as np
from sklearn.model_selection import cross_val_score

In [15]:
import pickle
import csv

In [24]:
# saves the list of gages that are needed
gages_needed = []
targets_modeled = set()


# this loop pulls the CSV data into a dataframe
for i, row in dt.iterrows():
    # loads the data of the target
    df = load_csv(row['USGS'])
    gages = row['feat_USGS']
    # loop to load the data of the features
    for g in gages:
        # load the data of each feature
        df1 = load_csv(g)
        # merge the dataframes - match on date
        try:
            df = pd.merge(df, df1, how='left', on='datetime')
        except:
            pass
    # drop rows that contain NaN in the second column (target)
    name = df.columns[1]
    df.dropna(subset=[name], inplace=True)
    
    # creates backup in case we drop too many columns
    dfb = df.copy()
    
    # drop any columns that contain Nan
    df.dropna(axis=1, inplace=True)
    
    # check to make sure there are no NaN values and nothing is infinite
#     print(df.isna().any())
#     print(np.isnan(df.any()))
#     print(np.isfinite(df.all()))
    
    
    # split into X and Y
    X, y = df.iloc[:, 2:], df.iloc[:, 1]
    # using the LassoCV to build the model
    if X.shape[1] > 0:
        A = [.5, 1, 2.5, 5, 7.5, 10, 15, 20, 25, 30, 35, 40, 50, 100, 200, 250, 300, 350, 400, 450, 500, 750, 1000, 10000]
        reg = linear_model.LassoCV(cv=5, random_state=33, alphas=A, normalize=True).fit(X, y)
        score = reg.score(X,y)

    else:
        score = 0
    # if there are no features left after dropping the Nan columns, we try again OR if 
    if score < 0.75:
        df = dfb.copy()
        # drop any rows that contain Nan (we need more features!)
        df.dropna(axis=1, how='all', inplace=True)
        df.dropna(axis=0, inplace=True)
        # split into X and Y
        X, y = df.iloc[:, 2:], df.iloc[:, 1]
        if X.shape[1] > 0 and X.shape[0] > 0:
            A = [.5, 1, 2.5, 5, 7.5, 10, 15, 20, 25, 30, 35, 40, 50, 100, 200, 250, 300, 350, 400, 450, 500, 750, 1000, 10000]
            reg = linear_model.LassoCV(cv=5, random_state=33, alphas=A, normalize=True).fit(X, y)
            score = reg.score(X,y)   
        

    # if the model is good enough, save the parameters and the model
    
    if score > 0.80:
        # take the coefficients and put them in a dictionary with the title of the column as the key
        d = {'target': name, 'score':score, 'intercept': reg.intercept_, 'alpha':reg.alpha_ }
        # save the name so we know it can be added to the gages
        targets_modeled.add(name)
        features = df.columns[2:]
        for i, feat in enumerate(features):
            # only save the coefficients if they are greater than 0
            if reg.coef_[i] > 0:
                d[feat] = reg.coef_[i]
                gages_needed.append(feat)
    
        print(d)
        print('\n')
        # name the file after the gage
        with open('model_' + name + '_.csv', 'w') as csv_file:  
            writer = csv.writer(csv_file)
            for key, value in d.items():
                writer.writerow([key, value])
        # save the pickled version as well
        with open('model_deets_' + name + '_.pkl', 'wb') as handle:
            pickle.dump(d, handle, protocol=pickle.HIGHEST_PROTOCOL)
            
        # pickle the model as well
        with open('model_package_' + name + '_.pkl', 'wb') as handle:
            pickle.dump(reg, handle, protocol=pickle.HIGHEST_PROTOCOL)

{'target': '10140700', 'score': 0.9289359317327344, 'intercept': 43.601634264312594, 'alpha': 0.5, '10105900': 0.04089110138002671, '10140100': 0.9600579404023674, '10141000': 0.03569280849715823}


{'target': '09081000', 'score': 0.962031269028639, 'intercept': 56.63516796840713, 'alpha': 0.5, '09085100': 0.022671284787144426, '09085000': 0.4252467417118203}


{'target': '09075400', 'score': 0.8479730833872321, 'intercept': 33.85078921586382, 'alpha': 0.5, '09065100': 0.6819450123818436, '09073400': 0.034971624552227805}


{'target': '09033300', 'score': 0.8870580896203156, 'intercept': 24.56246351024012, 'alpha': 0.5, '09034250': 0.14092452335179442, '09024000': 1.6363567178843843, '09036000': 0.3997371444970451}


{'target': '09358000', 'score': 0.8691655305528898, 'intercept': 33.98316822687872, 'alpha': 0.5, '09124500': 0.3952427293335016}


{'target': '09359020', 'score': 0.9298574875430774, 'intercept': 45.93740051421662, 'alpha': 0.5, '09124500': 0.994546106308758}


{'target': '09359500', 'score': 0.9529583645993988, 'intercept': 36.84848536063714, 'alpha': 0.5, '09166500': 0.09981834852879533, '09124500': 1.4925283511082585, '09342500': 0.30685463500813764}


{'target': '09146020', 'score': 0.8748566775504453, 'intercept': 35.09220498468332, 'alpha': 0.5, '09124500': 0.41874883036882526}


{'target': '09112200', 'score': 0.9745197119465698, 'intercept': 37.53038043883754, 'alpha': 0.5, '09112500': 0.8678116665695753}


{'target': '09413500', 'score': 0.864515063992049, 'intercept': 35.989919918714406, 'alpha': 0.5, '09415000': 0.630977354997413}


{'target': '09060799', 'score': 0.8219467835413105, 'intercept': 527.6903021792582, 'alpha': 1.0, '09081600': 1.5467555489712042, '09070000': 0.04814564597685218, '09237500': 4.485220222982432}


{'target': '385106106571000', 'score': 0.8961536872095583, 'intercept': -5.60982774151509, 'alpha': 0.5, '09107000': 0.9703313457480416, '09115500': 0.5131853197037528}


{'target': '09076300', 'score': 0.9589257380030001, 'intercept': 69.04736465999778, 'alpha': 1.0, '09067020': 0.1653406093607454, '09073400': 1.7155416311646816, '09110000': 0.01037405193862981}

This is awesome! Saved all of the model information and pruned it down the models that worked well.

In [17]:
gages_needed

['10105900',
 '10140100',
 '10141000',
 '09085100',
 '09085000',
 '09065100',
 '09073400',
 '09034250',
 '09024000',
 '09036000',
 '09124500',
 '09124500',
 '09166500',
 '09124500',
 '09342500',
 '09124500',
 '09112500',
 '09415000',
 '09081600',
 '09070000',
 '09237500',
 '09107000',
 '09115500',
 '09067020',
 '09073400',
 '09110000']

In [18]:
len(gages_needed)

26

In [19]:
model_gages = list(set(gages_needed))
model_gages

['09112500',
 '09124500',
 '09115500',
 '09067020',
 '09024000',
 '09085000',
 '09073400',
 '09070000',
 '09110000',
 '09342500',
 '09034250',
 '09085100',
 '09166500',
 '10105900',
 '09237500',
 '09107000',
 '09065100',
 '09081600',
 '09415000',
 '10140100',
 '09036000',
 '10141000']

In [20]:
len(model_gages)

22

In [22]:
# # save that list to CSV and pickle - DON'T NEED TO SAVE THIS AGAIN
# with open('model_gages.csv', 'w') as myfile:
#     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
#     wr.writerow(model_gages)

# # pickle the gages that we need for these models
# with open('model_gages.pkl', 'wb') as handle:
#     pickle.dump(model_gages, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [25]:
# look the the targets that we were able to model:
targets_modeled

{'09033300',
 '09060799',
 '09075400',
 '09076300',
 '09081000',
 '09112200',
 '09146020',
 '09358000',
 '09359020',
 '09359500',
 '09413500',
 '10140700',
 '385106106571000'}

## Next Code:
    - determine the additional NOAA predictions we need to pull
    - add those to the list of gages to pull
    - make sure we can pull that data

## After that:
    - determine how to integrate those models into the prediction:
        - maybe call another python file
        - maybe do that before the end of the other file
    - make sure these new predictions show up on the map

In [16]:
# instead of using the regular Cross Validation, try this:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html

In [ ]:
    # define grid
    grid = dict()
    grid['alpha'] = np.arange(0.1, 1, 0.01)
    # define search
    search = GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
    # search for the best model
    results = search.fit(X, y)
    # print results of the best model
    print('MAE: %.3f' % results.best_score_)
    print('Config: %s' % results.best_params_)

In [23]:
    # define the Lasso Model
    model = Lasso(alpha=0.1)
    # define the model evaluation method
    cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=33)
    # evaluate model
    scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv)
    # force scores to be positive
    scores = np.absolute(scores)
    print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

,10126000,10092700,10171000,10105900,10168000,10109000,10140100,10136500,10141000
0,1680,765,187,123,12.9,217,12.5,289,299
1,1680,814,192,179,38.0,248,26.9,403,520
2,1730,854,179,174,18.5,239,25.3,381,450
3,1830,766,169,159,28.2,222,21.6,297,221
4,1960,763,169,142,16.3,208,18.5,256,180
...,...,...,...,...,...,...,...,...,...
3331,369,652,123,27.8,48.1,204,64.2,244,93.0
3332,423,666,117,31.0,50.7,188,86.0,224,75.4
3333,338,616,121,29.1,70.6,186,77.7,228,82.5
3334,287,536,125,29.8,97.4,188,73.6,220,74.6
3335,313,515,128,21.4,123,194,61.1,235,96.5

In [24]:
y

0       35.7
1       48.9
2       57.5
3       44.5
4       46.5
        ...
3331     100
3332     117
3333     109
3334     107
3335    95.7
Name: 10140700, Length: 3336, dtype: object

In [38]:
df

,datetime,09076300,09067020,09112500,09078600,09080400,09114500,09113980,09059500,09073400,09110000,09119000
0,2018-07-01,272,255,139,NaN,164,395,29.7,34.8,63.3,303,19.9
1,2018-07-02,259,243,130,NaN,198,375,25.1,32.5,61.3,298,21.4
2,2018-07-03,247,227,126,NaN,208,357,22.7,30.6,62.4,294,22.2
3,2018-07-04,250,219,125,NaN,207,356,22.5,29.2,72.9,298,20.5
4,2018-07-05,244,208,118,NaN,207,343,22.0,26.8,72.5,296,18.1
...,...,...,...,...,...,...,...,...,...,...,...,...
1059,2021-05-25,395,885,553,NaN,120,818,36.2,210,168,336,120
1060,2021-05-26,439,927,628,NaN,120,920,35.1,221,178,371,124
1061,2021-05-27,406,855,544,NaN,119,864,34.8,198,161,380,138
1062,2021-05-28,496,950,649,NaN,114,959,28.5,228,187,391,151
1063,2021-05-29,574,962,709,NaN,110,1050,23.8,220,202,401,173